<ion-view view-title="About">
  <ion-content>
    <img class="full-image" src="http://ionicframework.com/img/docs/delorean.jpg">
    <!-- <div class="padding">
            <h3>"Difference-a-header-makes...."</h3>
            <p>Our websites are our online homes. It makes sense that we want&nbsp;to give them personality and warmth,&nbsp;just like we do with our physical homes. Our websites are our online homes. It makes sense that we want&nbsp;to give them personality and warmth,&nbsp;just like we do with our physical homes.</p>
        </div> -->
    <ul class="list">
      <li class="item">
        <h3>About Us</h3>
        <p>Representatives of some prominent factories gathered together on 16th February 1948 to form this Association. It has a glorious past with chequered history, of innumerable instances where it has raised its voice against the anti-industrial policy of Central & State Government, Quasi Government organizations & Municipal bodies, setting up of infrastructural facilities for common man with tremendous successful results over the period of more than four decades.</p>
      </li>
    </ul>
  </ion-content>
</ion-view>
