<ion-view view-title="Audio Category">
    <div class="text-center positive middle-align">

    </div>
    <ion-content>
      <ion-list>
          <ion-item ng-repeat="item in audio" class="item-thumbnail-left item-text-wrap" ui-sref="app.audiogallerycategory">
              <div class="image-adjust img-content" ng-style="{'background-image':'url({{item.img}})'}"></div>
              <h2>{{item.name}}</h2>
              <p>{{item.desc}}</p>
              <ion-option-button class="button-positive" ng-click="share(item)">
                  Share
              </ion-option-button>
          </ion-item>
          <ion-infinite-scroll on-infinite="loadMorePolls()" ng-if="keepscrolling" distance="25%">
          </ion-infinite-scroll>
      </ion-list>
    </ion-content>

</ion-view>
