<ion-view view-title="Members">
  <ion-content>
    <div class="chat-section">
      <div class="pull-left">
        <span>hello</span>
      </div>
      <div class="pull-right">
        <span>hii</span>
      </div>
    </div>
  </ion-content>
</ion-view>
<ion-footer-bar keyboard-attach="" class="bar-stable item-input-inset bar bar-footer">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message">
      </label>
      <button class="button button-clear"> Send </button>
    </ion-footer-bar>
