<ion-view view-title="Members">
  <ion-content>
    <div class="list">
      <a class="item item-avatar" href="#/app/memberslist">
        <img src="img/logo1.png">
        <h2>Bombay Industrial Association</h2>
        <p>PATRON MEMBER</p>
      </a>
      <a class="item item-avatar" href="#/app/memberslist">
        <img src="img/logo1.png">
        <h2>Bombay Industrial Association</h2>
        <p>LIFE MEMBER</p>
      </a>
      <a class="item item-avatar" href="#/app/memberslist">
        <img src="img/logo1.png">
        <h2>Bombay Industrial Association</h2>
        <p>ASSOCIATE MEMBER</p>
      </a>
      <a class="item item-avatar" href="#/app/memberslist">
        <img src="img/logo1.png">
        <h2>Bombay Industrial Association</h2>
        <p>ORDINARY MEMBER</p>
      </a>
    </div>
  </ion-content>
</ion-view>
