<ion-view view-title="Members">
  <ion-content>
    <div class="list">
      <a class="item item-thumbnail-left" href="#">
        <img src="img/logo1.png">
        <h2>Bombay Industrial Association</h2>
        <p>PATRON MEMBER</p>
      </a>
      <div class="item">
        <h2>Stake Holder</h2>
      </div>
      <a class="item item-avatar" href="#">
        <img src="img/logo1.png">
        <h2>Venkman</h2>
        <p>CEO</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/logo1.png">
        <h2>Winston</h2>
        <p>Partner</p>
      </a>
    </div>
  </ion-content>
</ion-view>
